# This is the yamllint configuration file
# For more information on how to configure this file please see:
# https://yamllint.readthedocs.io/en/stable/configuration.html

extends: default

rules:
  ######################
  # PERMANENTLY IGNORE #
  ######################

  # Ignore: line too long  (> 80 characters)
  line-length: disable

ignore: |
  /sandbox/target/
